.submit-and-cancel-button
{
    display: flex;
    justify-content: center;
    
    margin: 10px;
}
.cancel-button
{
    margin-left: 10px;
}
.form-container
{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.label-option-container
{
    padding-bottom: 5px;
}

#role-form-title{
    background-color:
    #5569dc50 ;
    display: block;
    margin: auto;
    padding: 10px;
    color: #444;
    min-width: 100px;
    max-width: 400px;
    border-radius: 12px;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-container #role-form-title{
    align-self: center;
}

.update-cancel-container{
    display: flex;
    justify-content: center;
    margin:10px
}

.update-cancel-container button{
    margin-right: 10px;
}

#form{
   
    
}
#form .row {
    margin-bottom:10px;
}
.leave-app-form{
    padding:10px;
    display: flex;
    align-items: stretch;
}